{% extends 'single_pages/base_landing.html' %}

{% block head_title %}
   Meteor Landing Zone
{% endblock %}

{% block main_area %}

    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Meteor Landing Zone</div>
            <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#developers">About developers</a>
        </div>
    </header>

        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Services</h2>
                    <h3 class="section-subheading text-muted">About services in MeteorPJT</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-wallet fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Wallet</h4>
                        <p class="text-muted">BlockChain wallet that be certified DID, customer can use this app for manage things(with NFT) which you buy from Vendor </p>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Vendor</h4>
                        <p class="text-muted">Some Brand who want issue NFT of there real product can use this app for make and sell.</p>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-exchange-alt fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Exchange</h4>
                        <p class="text-muted">Someone want to sell there real product and NFT can use this app for hand over there thing.</p>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Metaverse</h4>
                        <p class="text-muted">If you want use your real product in Metaverse also you can use this app. We connect real world with Metaverse.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our BlockChain</h2>
                    <h3 class="section-subheading text-muted">Description of our blockchain</h3>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">blablabla...</p></div>
                </div>
            </div>
        </section>


        <section class="page-section bg-light" id="developers">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Team</h2>
                    <h3 class="section-subheading text-muted">Meteor developers</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://blobstorageforpydev.blob.core.windows.net/devmeteor/generalleader.jpg" alt="..."/>
                            <h4>Kyoungseo Lee</h4>
                            <p class="text-muted">General leader</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-google"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="rounded-circle" src="https://blobstorageforpydev.blob.core.windows.net/devmeteor/generalleader.jpg" alt="..."/>
                            <h4>aaaa</h4>
                            <p class="text-muted">aaaaa</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-google"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="https://blobstorageforpydev.blob.core.windows.net/devmeteor/generalleader.jpg" alt="..."/>
                            <h4>bbbbb</h4>
                            <p class="text-muted">bbbb</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-google"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">We want to connect real world with metaverse by our blockchain</p></div>
                </div>
            </div>
        </section>

{% endblock %}